In [25]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

In [26]:
df = pd.read_csv('./Beijing.csv')

In [27]:
df

,year,month,day,hour,PM2.5,PM10,SO2,NO2,O3,CO,TEMP,PRES,RAIN,HUMI,DEWP,WD,WS
0,2014,1,1,0,31.0,117.0,15.0,73.0,NaN,NaN,-0.4,1009.1,0.0,34.0,-14.4,NW,1.2
1,2014,1,1,1,58.0,154.0,39.0,84.0,4.0,1.5,-1.1,1008.8,0.0,40.0,-13.0,NW,1.2
2,2014,1,1,2,68.0,162.0,39.0,85.0,4.0,1.7,-1.4,1008.8,0.0,41.0,-13.0,SW,0.7
3,2014,1,1,3,83.0,189.0,63.0,83.0,5.0,1.7,-2.4,1008.2,0.0,46.0,-12.5,SE,0.6
4,2014,1,1,4,75.0,190.0,55.0,83.0,3.0,2.1,-2.5,1008.0,0.0,46.0,-12.6,CV,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,2015,12,31,19,112.0,112.0,28.0,114.0,23.0,2.3,-1.4,1026.3,0.0,58.0,-8.6,SE,1.0
17516,2015,12,31,20,122.0,132.0,27.0,118.0,26.0,3.2,-2.5,1026.2,0.0,64.0,-8.4,SE,1.3
17517,2015,12,31,21,149.0,179.0,30.0,125.0,31.0,4.5,-2.7,1025.8,0.0,67.0,-8.0,NE,0.9
17518,2015,12,31,22,196.0,230.0,29.0,130.0,33.0,4.6,-3.5,1025.5,0.0,73.0,-7.6,CV,0.4
17519,2015,12,31,23,221.0,231.0,24.0,125.0,31.0,4.4,-3.4,1025.2,0.0,73.0,-7.5,NE,1.8

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17520 entries, 0 to 17519
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    17520 non-null  int64
 1   month   17520 non-null  int64
 2   day     17520 non-null  int64
 3   hour    17520 non-null  int64
 4   PM2.5   17077 non-null  float64
 5   PM10    17212 non-null  float64
 6   SO2     17198 non-null  float64
 7   NO2     17064 non-null  float64
 8   O3      17193 non-null  float64
 9   CO      17122 non-null  float64
 10  TEMP    17518 non-null  float64
 11  PRES    17518 non-null  float64
 12  RAIN    17518 non-null  float64
 13  HUMI    17518 non-null  float64
 14  DEWP    17518 non-null  float64
 15  WD      17518 non-null  object
 16  WS      17518 non-null  float64
dtypes: float64(12), int64(4), object(1)
memory usage: 2.3+ MB

In [29]:
import datetime
df['time'] = df.apply(lambda x : datetime.datetime(year=x['year'], month=x['month'], day=x['day'], hour=x['hour']), axis=1)
df.drop(columns=['year', 'month', 'day', 'hour'], inplace=True)
df = df.set_index('time')

In [30]:
df

,PM2.5,PM10,SO2,NO2,O3,CO,TEMP,PRES,RAIN,HUMI,DEWP,WD,WS
time,,,,,,,,,,,,,
2014-01-01 00:00:00,31.0,117.0,15.0,73.0,NaN,NaN,-0.4,1009.1,0.0,34.0,-14.4,NW,1.2
2014-01-01 01:00:00,58.0,154.0,39.0,84.0,4.0,1.5,-1.1,1008.8,0.0,40.0,-13.0,NW,1.2
2014-01-01 02:00:00,68.0,162.0,39.0,85.0,4.0,1.7,-1.4,1008.8,0.0,41.0,-13.0,SW,0.7
2014-01-01 03:00:00,83.0,189.0,63.0,83.0,5.0,1.7,-2.4,1008.2,0.0,46.0,-12.5,SE,0.6
2014-01-01 04:00:00,75.0,190.0,55.0,83.0,3.0,2.1,-2.5,1008.0,0.0,46.0,-12.6,CV,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-12-31 19:00:00,112.0,112.0,28.0,114.0,23.0,2.3,-1.4,1026.3,0.0,58.0,-8.6,SE,1.0
2015-12-31 20:00:00,122.0,132.0,27.0,118.0,26.0,3.2,-2.5,1026.2,0.0,64.0,-8.4,SE,1.3
2015-12-31 21:00:00,149.0,179.0,30.0,125.0,31.0,4.5,-2.7,1025.8,0.0,67.0,-8.0,NE,0.9
2015-12-31 22:00:00,196.0,230.0,29.0,130.0,33.0,4.6,-3.5,1025.5,0.0,73.0,-7.6,CV,0.4
2015-12-31 23:00:00,221.0,231.0,24.0,125.0,31.0,4.4,-3.4,1025.2,0.0,73.0,-7.5,NE,1.8

In [31]:
df['WD'] = df['WD'].fillna(method='ffill')
df['WD'].unique()

array(['NW', 'SW', 'SE', 'CV', 'NE'], dtype=object)

In [32]:
df['WD'].isna().sum()

0

In [33]:
df = df.join(pd.get_dummies(df['WD'])) # one-hot encoding
del df['WD']
df.head()

,PM2.5,PM10,SO2,NO2,O3,CO,TEMP,PRES,RAIN,HUMI,DEWP,WS,CV,NE,NW,SE,SW
time,,,,,,,,,,,,,,,,,
2014-01-01 00:00:00,31.0,117.0,15.0,73.0,NaN,NaN,-0.4,1009.1,0.0,34.0,-14.4,1.2,0,0,1,0,0
2014-01-01 01:00:00,58.0,154.0,39.0,84.0,4.0,1.5,-1.1,1008.8,0.0,40.0,-13.0,1.2,0,0,1,0,0
2014-01-01 02:00:00,68.0,162.0,39.0,85.0,4.0,1.7,-1.4,1008.8,0.0,41.0,-13.0,0.7,0,0,0,0,1
2014-01-01 03:00:00,83.0,189.0,63.0,83.0,5.0,1.7,-2.4,1008.2,0.0,46.0,-12.5,0.6,0,0,0,1,0
2014-01-01 04:00:00,75.0,190.0,55.0,83.0,3.0,2.1,-2.5,1008.0,0.0,46.0,-12.6,0.4,1,0,0,0,0